.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: bisque;
}

.list-group {
    margin: 20px;
    float: left;
}

.selected_book {
    padding: 10px;
    margin: 20px;
    float: right;
    background-color: beige;
}